
$bg-color: #dee2e6;
$bg-hover: #adb5bd;
$text-color: #343a40;
$dropdown-bg: #c4cad0;
$dropdown-text: #343a40;

$bg-footer: #f4f4f4;
$text-footer: #333;
$parrap-footer: #666;

$azul-claro: #90e0ef;
$azul-muy-claro: #bde0fe;

$gris-outlet: #6c757d;
$precio-outlet: #e0e0e0;

$azul-nueva-temporada: #89c2d9;

$boton-rebajas: #90e0ef;


$boton-oferta: #254c6d;


$boton-comprar: #427aa1;

$blanco: white;


$gris: #adb5bd;
$negro: black;

$gris-oscuro: rgb(99, 99, 99);

$boton-añadir-carrito: #6096ba;
$boton-comprar-nt: #81a4cd;

$botones-filtros: #3a7ca5;


//tema oscuro
$color-oscuro: #333;
$boton-comprar-oscuro: #1f487e;

$color-oscuro-mensaje: #086788;
$blanco-oscuro: #d1d1d1;


$color-claro: #fff;

$color-text-claro: #000;
$color-text-oscuro: #fff;